*,
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 0px 15px 0px 15px;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo h1 {
  font-size: 20px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
}
header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
header nav ul li a:hover {
  color: #f2d688;
  transition: 0.3s;
}

.btn-order {
  background-color: #f2d688;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
}
.btn-order:hover {
  color: #000000;
  font-size: 13px;
  transition: 0.3s;
}
.hero {
  display: flex;
  padding: 100px;
  flex-wrap: wrap;
  padding: 200px;
  gap: 25px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* Product */
.product-sect {
  display: column;
  padding: 25px 75px 25px 75px;
  background-color: #dbb752;
  text-align: center;
}
.product-sect .product-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  align-items: center;
}
.product-sect .product-list .product {
  display: flex;
  background-color: #fff;
  height: 270px;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.product-sect .product-list .product img {
  height: 250px;
  border-radius: 10px;
}
.product-sect .product-list .product-desc {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.product-sect .product-list .product-desc p,
h4 {
  margin: 15px;
}

/* Product End */

/* Testi */
.testi {
  display: column;
  padding: 25px 75px 25px 75px;
}
.testi .comment {
  display: column;
  background-color: #d6d2d271;
  box-shadow: 10px 10px 50px 10px rgba(16, 17, 17, 0.412);
  border-color: #1a191971;

  border-width: 50px;
  padding: 15px;
  border-radius: 20px;
  margin: 35px 0px 35px 0px;
}
.testi .comment .profile {
  display: flex;
  margin-bottom: 20px;
  gap: 8px;
}
/* Testi End */

/* Contact Us */
.contact-us {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.contact-us form {
  box-shadow: 10px 5px 50px 5px rgba(16, 17, 17, 0.412);
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  background-color: #f2d688;
  width: 50vw;
}
.contact-us form input {
  width: 75%;
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 8px;
}
/* Contact Us End */

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbb752;
}
/* Footer End */
